/* Add your CSS styles here */
body {
    font-family: monospace;
  }
  
  h1 {
    text-align: center;
    color: black;
  }

  h1:hover{
    color: rgba(255, 255, 0, 0.685);
    cursor: pointer;
  }

  input{
    background-color: yellow;
    border: 1px solid;
    border-radius: 20px;
  }

  input:hover{
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
  }
  
 #conversionType{
    background-color: yellow;
    border: 1px solid;
    border-radius: 20px;
 }

 #conversionType:hover{
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
    
 }
  
  #konversi{
    background-color: white;
    color: black;
    border-radius: 20px;
    border: 1px solid;
  }

  #konversi:hover{
    background-color: yellow;
    color: black;
    border-radius: 20px;
    border: 1px solid;
  }
  
  form {
    margin: 20px auto;
    width: 300px;
    text-align: center;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
  }
  
  select {
    width: 100%;
    padding: 5px;
  }
  
  input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #conversionResult {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
  }
  